/* Basic styles for the navigation bar */
body {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
	color: white;
	background-color: #1a1135;
	font-size: 16px;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
p{
	color: #beb8cc;
}
.navbar_sticky{
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
	z-index: 2;
}

.navbar_area{
	background-color: #140c2d;
}
.app_container{
	display: block;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 5%;
	margin-right: 5%;
}
.app_container_fluid{
	display: block;
	box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1%;
	width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.navbar_container{
	display: block;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 5%;
	margin-right: 5%;
}
.navbar_expand {
	display: flex!important;
    flex-basis: auto;
	padding:0;
	background-color: transparent!important;
	justify-content: flex-start;
    background-color: #000000;
	z-index: 999;
	align-items: center;
}
.navbar_expand .navbar_brand{
	font-size: inherit;
    line-height: 1;
    padding: 0;
	width: 20%;
	display: none;
}
.navbar_expand .navbar_brand img{
	width: 100%;
	transform: scale(1.8);
}

.nav_div_1{
	width: 40%;
	z-index: 300;
}
.nav_div_2{
	width: 15%;
	z-index: 200;
}
.nav_div_3{
	width: 25%;
	z-index: 300;
}
.nav_div_4{
	width: 20%;
	z-index: 300;
}
.navbar_collapse{
	display: flex;
	flex-grow: 1;
	align-items: center;
}
.navbar_nav{
	display: flex;
	list-style: none;
	padding: 0.5rem 0 0.5rem 0;
	justify-content: space-between;
}
.navbar_nav_item{
	
	font-size: 14px;
	font-family: "Changa", sans-serif;
}
.navbar_logo_center{
	margin-bottom: -50px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.navbar_logo_center img{
	width: 100%;
	height: auto;
	transform: scale(1.5);
}
.nav_other_option{
	display: flex!important;
	align-items: center!important;
	place-content: flex-end;
	
}
.nav_option_item{
	box-sizing: border-box;
	margin-left: 10px;
	
}
.default_btn{
	z-index: 1;
	text-decoration: none;
	border: none;
	overflow: hidden;
	text-align: center;
	border-radius: 0.5rem;
	position: relative;
	display: inline-block;
	padding: 14px 30px 15px;
	color: #ffffff;
	transition: 0.5s;
	background: linear-gradient(135deg,#FA26CA 0%,#712AF9 100%);
	font-weight: 700;
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
}
.default_btn::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(98.28deg,#FDCE39 2.11%,#FD8963 30.92%,#ED5174 97.49%);
	border-radius: 0.5rem;
	opacity: 1;
	transition: transform 0.4s ease;
	transform: scaleX(0);
	z-index: -1;
}

.default_btn:hover::before{
	opacity: 0;
	transform: scaleX(1);
}
	
.default_btn::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(98.28deg,#FDCE39 2.11%,#FD8963 30.92%,#ED5174 97.49%);
	border-radius: 0.5rem;
	opacity: 0;
	transition: transform 0.4s ease;
	transform: scaleX(0);
	z-index: -1;
}
.default_btn:hover::after{
	opacity:1;
	transform: scaleX(1);
}
.navbar_expand #menuBar{
	display: none;
}
.navbar_expand label{
	font-size: 20px;
	color: #ffffff;
	cursor: pointer;
	display: none;
}
.burger_menu{
	font-size: 25px;
    display: block;
	line-height: 1.5;
	font-weight: 400;
	cursor: pointer;
}
.burger_menu .top_bar, .burger_menu .middle_bar, .burger_menu .bottom_bar{
	width: 50px;
	height: 10px;
	background: #fff;
	z-index: 500;
}

.navbar_nav_item a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
	position: relative;
}

.navbar_nav_item a::after{
	content: ''; 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	height: 2px; 
	background: linear-gradient(135deg,#FA26CA 0%,#712AF9 100%);
	transform: scaleX(0); 
	transform-origin: 1 100%; 
	transition: transform 0.3s ease; 
}
.navbar_nav_item .navDropDown{
	margin-top: 20px;
	position: absolute;
	left: 0;
	width: max-content;
	background: #140c2d;
	padding: 0.5em;
	display: none;
}
.navbar_nav_item .navDropDown li{
	width: 100%;
	display: flex;
    flex-direction: row;
	margin: 2em 1em;
    word-spacing: 0.2rem;
}
.navbar_nav_item a:hover::after {
    transform: scaleX(0.8);
}
.navbar_nav_item a:focus-within > .navDropDown,
.navbar_nav_item a:hover > .navDropDown{
	display: initial;
}

.banner_area{
	background-image: url('../images/banner/b1.jpg');
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
	z-index: 1;
    position: relative;
	left:0;
	top:0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 350px;
	width:100%;
}

.banner_area_container{
	box-sizing: border-box;
	width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
	
}
.banner_content {
	box-sizing: border-box;
	text-align: center;
    margin-left: 6.4rem;
    margin-right: 6.4rem;
	font-size: 25px;
	font-weight: 400;
    margin-bottom: 25px;
}
.banner_content .banner_heading span{
	font-size: 35px;
}
.banner_heading{
	padding: 0 2rem;
	line-height: 4rem;
}
.banner_btn{
	margin-top: 40px;
}

.btn_active{
	z-index: 1;
	text-decoration: none;
	border: none;
	overflow: hidden;
	text-align: center;
	border-radius: 0.5rem;
	position: relative;
	display: inline-block;
	padding: 14px 30px 15px;
	color: #ffffff;
	transition: 0.5s;
	font-weight: 700;
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
	background: linear-gradient(98.28deg,#FDCE39 2.11%,#FD8963 30.92%,#ED5174 97.49%);;
}
.btn_active::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(135deg,#FA26CA 0%,#712AF9 100%);
	border-radius: 0.5rem;
	opacity: 1;
	transition: transform 0.4s ease;
	transform: scaleX(0);
	z-index: -1;
}

.btn_active:hover::before{
	opacity: 0;
	transform: scaleX(1);
}
	
.btn_active::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(135deg,#FA26CA 0%,#712AF9 100%);
	border-radius: 0.5rem;
	opacity: 0;
	transition: transform 0.4s ease;
	transform: scaleX(0);
	z-index: -1;
}
.btn_active:hover::after{
	opacity:1;
	transform: scaleX(1);
}

.connect_btn{
	z-index: 1;
	text-decoration: none;
	border: none;
	overflow: hidden;
	text-align: center;
	border-radius: 0.5rem;
	position: relative;
	display: inline-block;
	padding: 14px 30px 15px;
	color: #ffffff;
	transition: 0.5s;
	font-weight: 700;
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
	background: linear-gradient(135deg,#57F0FA 0%,#712AF9 100%);
}

.connect_btn::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(98.28deg,#FDCE39 2.11%,#FD8963 30.92%,#ED5174 97.49%);
	border-radius: 0.5rem;
	opacity: 1;
	transition: transform 0.4s ease;
	transform: scaleX(0);
	z-index: -1;
}

.connect_btn:hover::before{
	opacity: 0;
	transform: scaleX(1);
}
	
.connect_btn::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(98.28deg,#FDCE39 2.11%,#FD8963 30.92%,#ED5174 97.49%);
	border-radius: 0.5rem;
	opacity: 0;
	transition: transform 0.4s ease;
	transform: scaleX(0);
	z-index: -1;
}
.connect_btn:hover::after{
	opacity:1;
	transform: scaleX(1);
}



.partner_area{
	box-sizing: border-box;
	display: block!important;
	background-color: #140c2d73;
	padding-top: 0!important;
}
.partner_container{
	
}
.partner_wrap{
	background: linear-gradient(92.34deg,#FDCE39 1.68%,#FD8963 50.6%,#ED5174 98.82%);
    padding: 80px 0px;
    border-radius: 10px;
    position: relative;
    margin-top: -100px;
    z-index: 1;
	line-height: 1px;
	height: 0px!important;
}
.partner_slides{
	margin-top: -80px;
}
.carousel{
	width: auto!important;
}

.partner_img{
	width: auto!important;
}
/*Partner image slider*/	

.slider{
	height: 160px;
	margin: auto;
	position: relative;
	width: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
	border-radius: 10px;
}
.slide-track{
	display: flex;
	width: calc(250px*18);
	animation-play-state: paused;
}
.slide-track:hover{
	animation: scroll 40s linear infinite;
}
.slide{
	height: 160px;
	width: 200px;
	display: flex;
	align-items: center;
	align-items: center;
	padding: 0 15px;
	perspective: 100px;
}
.slide img{
	width: 100%;
	transition: transform 1s;
}
.slide img:hover{
	transform: translateZ(20px);
}
.slider::before, .slider::after{
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	content: '';
	height: 100%;
	position: absolute;
	width: 15%;
	z-index: 2;
	
}
.slider::before{
	left: 0;
	top: 0;
}
.slider::after{
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

@keyframes scroll{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(calc(-250px*9));
	}
}


/* --------about us----------*/
.aboutus{
	box-sizing: border-box;
	
}
.about_area, .utility_area{
	position: relative;
	background-color: #170f32;
	padding-top: 120px;
	padding-bottom: 80px;
	
}
.about_row{
	column-gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.about_img_container, .about_content_container{
	display: inline-block;
	width: 47%;
	float: left;
	padding: 0 5px;
}
.about_img img{
	width: 100%;
    margin-left: -8%;
	transform: scaleY(1.5);
	margin-top: 100px;
}
.about_content{
	margin-top: 1rem;
}
.top_title{
    display: inline-block;
    letter-spacing: .1em;
    color: #712af9;
    background: linear-gradient(90.99deg,#FDCE39 .27%,#FD8963 30%,#ED5174 98.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
	text-transform: uppercase;
}
.title_head{
	font-family: fantasy;
    font-weight: 400;
    font-size: 40px;
	letter-spacing: 0.2rem
}
.about_para{
	font-size: 18px;
	color: #beb8cc;
	margin-bottom: 15px;
	font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.3;
}
.about_social{
	margin-top: 20px;
	padding-left: 0;
}
.social{
	display: inline-block;
	margin-right: 10px;
}
.soc_icon{
	width: 40px;
    height: 40px;
    font-size: 20px;
    color: #4267b2;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background: #ffffff;
    transition: 0.5s;
    box-shadow: 0 2px 30px #0000000f;
}
.i_disc img{
	width: 18px;
}


/*******Key-Features*******/

.key_features{
	display: block;
	box-sizing: border-box;
}
.feature_area{
	display: block!important;
	position: relative;
    z-index: 1;
	padding-bottom: 90px;
	padding-top: 120px;
}
.section_title {
    margin: -5px auto 50px;
    text-align: center;
    position: relative;
    max-width: 755px;
    z-index: 1;
}
.boxes{
	display: block;
    position: relative;
    left: 0;
    align-items: center;
}
.boxes .box_row{
	box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
}
.boxes .box{
	min-height: 250px;
    float: left;
    width: 31%;
    margin: 1%;
    height: fit-content;
    border-radius: 7%;
    background-color: #6e687d;
    text-align: center!important;
	margin-bottom: 30px;
	padding: 20px 0;
}


.boxes .box:hover{
    background-color: #201641!important;
	
}
.box .insideBox1{
	display: flex!important;
    align-items: center;
    padding: 0px 30px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: monospace;
	height: 100px;
	flex-basis: 0;
}

.imageContainer{
	padding: 0 3%;
    height: 70px;
	background-color: white;
    border-radius: 50%;
    border: 3px solid grey;
	box-shadow: 0 0 2px #888;
	display: flex;
	align-items: center;
    justify-content: center;
}
.insideBox1 img{
	width: 50px;
}
.insideBox1 h3{
	font-size: 1em;
	padding-left: 1em;
}

.insideBox2, .insideBox2_inv {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8;
	color: #fdfdfd;
	text-align: left;
    padding: 0 20px;
}
.read_more{
	font-size: 14px;
	cursor: pointer;
}
.feature_container .boxes .box_row .box .btn_hide{
	visibility: hidden;
}	

/*utility*/
.utility_area .utilityBoxContainer{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 5rem;
}

.utility_area .utilityBoxContainer .utilityBox{
	padding: 0rem 2rem;
	background: #140c2d;
	outline: .1rem solid rgba(0,0,0,0.1);
	outline-offset: -1rem;
	box-shadow: .5rem 1.5rem rgba(0,0,0,0.1);
	text-align: center;
	background: #140c2d;
    display: inline-block;
	margin: 3rem;
	
}


.utility_area .utilityBoxContainer .utilityBox:hover{
	box-shadow: 1px 1px 10px 4px #4948ac;
}
.utility_area .utilityBoxContainer .utilityBox .utilityBoxIcon{
	width: 100px;
    height: fit-content;
	position: relative;
    top: 25%;
    left: -20%;
}
.utility_area .utilityBoxContainer .utilityBox .utilityBoxIcon img{
	width: 100%;
    
}
.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent{
	text-align: left;
	margin-left: 20%;
}
.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent h1{
	font-size: 1.4em;
	letter-spacing: 0.08rem;
	background: linear-gradient(135deg,#57F0FA 0%,#712AF9 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent span{
	letter-spacing: .05rem;
}
.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent .read_more{
	display: none;
}
.utility_area .utilityBoxContainer .utilityBox.un{
	width: 33%;
	margin: 0 30%;
}
.utilityBoxPara{
	font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.8;
    
}

/* how it works */	

.how_it_work_area, .what_get_area{
	padding-top: 120px;
	padding-bottom: 90px;
	display: block!important;
	position: relative;
    z-index: 1;
}

.how_it_work_tabs .nav_tabset{
	padding-left: 0;
    text-align: center;
    margin-bottom: 50px;
    list-style-type: none;
}
.how_it_work_tabs .nav_tabset .nav_tab {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.how_it_work_tabs .nav_tabset .nav_tab.active span {
    color: #ffffff;
}
.how_it_work_tabs .nav_tabset .nav_tab span {
    z-index: 1;
    display: block;
    cursor: pointer;
    position: relative;
    padding: 28px 90px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: monospace;
}

.how_it_work_tabs .nav_tabset .nav_tab.active span:before {
    opacity: 1;
    visibility: visible;
}

.how_it_work_tabs .nav_tabset .nav_tab span:before {
    inset: 0;
    opacity: 0;
    content: "";
    z-index: -1;
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    transition: 0.1s;
    background: linear-gradient(180deg,#FDCE39 .27%,#FD8963 30%,#ED5174 98.69%);
}

.how_it_work_tabs .nav_tabset .nav_tab span:after {
    inset: 0;
    content: "";
    z-index: -1;
    margin: 2px;
    position: absolute;
    border-radius: 10px;
    background-color: #0f0824;
    transition: 0.1s;
}
.how_it_work_tabs .tab_img{
	margin-bottom: 50px;
    border-radius: 65px;
    text-align: center;
	background-image: radial-gradient( rgb(3 128 255 / 28%), rgb(255 0 199 / 24%));
}
.how_it_work_tabs .tab_frame{
	
    margin-bottom: 50px;
    border-radius: 65px;
    text-align: center;
    width: 100%;
    height: 620px;
}

.how_it_work_tabs .tab_img img, .how_it_work_tabs .tab_frame iframe{
	width: 100%;
	border-radius: 65px;
	position: relative;
	z-index: -1;
}

.how_it_work_tabs .tab_content{
	max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
	min-height: 25vh;
}
.content_row{
    display: flex!important;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}
.col_5-12{
	flex: 0 0 auto!important;
    width: 41.66666667%;
	float: left;
}
.how_it_work_tabs .tab_content h3{
	font-size: 30px;
    margin-bottom: 12px;
}
.col_7-12{
	flex: 0 0 auto!important;
    width: 58.33333333%;
	float: left;
}
.col_7-12 .work_content {
    color: #beb8cc;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8rem;
}

#tab2, #tab3{
	display: none;
}

.token_info{
	box-sizing: border-box;
}
.token_area {
    z-index: 1;
	background-color: #140c2d73;
	padding-top: 120px;
    padding-bottom: 120px;
}
.token_area .app_container .content_row{
	display: grid!important;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3%
}
.tokenItem{
	
}

.col_6-12{
	flex: 0 0 auto;
    width: 48%;
	padding: 0 1%;
}
.token_img{
	padding: 20px 0;
	background: #474642;
    -webkit-backdrop-filter: blur(134px);
    backdrop-filter: blur(134px);
    border-radius: 30px;
    text-align: center;
    width: 100%;
    height: auto;

}
.token_img img{
	width:100%;
	transform: scale(100%);
}
.single_token_list{
	background: rgba(255,255,255,.2);
    transition: 0.5s;
	height: 85px;
    -webkit-backdrop-filter: blur(134px);
    backdrop-filter: blur(134px);
    border-radius: 10px;
    padding: 0 18px;
	margin: 0 0 12px 0;
}
.token_list_content{
	justify-content: space-between!important;
	display: flex!important;
	padding-left: 0;
	padding-top: 5%;
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
}
.single_token_list .token_list_content li{
	font-size: 18px;
	margin-bottom: 0;
}
.single_token_list .token_list_content .li_lt{
	
}

.single_token_list .token_list_content li h4{
	margin: 0;
}
.single_token_list .token_list_content li h4 sub{
	font-size: 12px;
}
.single_token_list .token_list_content .yell{
	color: #fdce39;
    bottom: 0;
}
.single_token_list .token_list_content .red{
	color: #ed5174;
    bottom: 0;
}
.single_token_list .token_list_content .oran{
	color: #fd8963;
    bottom: 0;
}
.single_token_list .token_list_content .pink{
	color: #fa26ca;
    bottom: 0;
}
.single_token_list .token_list_content .gree{
	color: #32dc95;
    bottom: 0;
}
.single_token_list .token_list_content .purp{
	color: #a475ff;
    bottom: 0;
}
.single_token_list .token_list_content li p{
	font-size: 14px;
    margin: 5px 0 0 0;
	color: #beb8cc;
}
.text_end{
	text-align: right!important;
}
.token_content{
	margin-top: 40px;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.roadmap_area {
    position: relative;
    z-index: 1;
	padding-top: 120px;
	
}
.roadmap_slides{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60vh;
}

.roadmap_container {
	max-width: 100%;
	width: 96%;
}
.rd_slider-wrapper {
	position: relative;
}
.rd_slider-wrapper .rd_slide-button {
	position: absolute;
	top: 50%;
	outline: none;
	border: none;
	height: 50px;
	width: 50px;
	z-index: 5;
	color: #fff;
	display: flex;
	cursor: pointer;
	font-size: 2.2rem;
	background: #000;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transform: translateY(-50%);
}
.rd_slider-wrapper .rd_slide-button:hover {
	background: #404040;
}
.rd_slider-wrapper .rd_slide-button#prev-slide {
	left: -25px;
	display: none;
}
.rd_slider-wrapper .rd_slide-button#next-slide {
	right: -25px;
}
.rd_slider-wrapper .rd_image-list {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	gap: 18px;
	list-style: none;
	margin-bottom: 30px;
	overflow-x: auto;
	scrollbar-width: none;
	padding-left: 0;
}
.rd_slider-wrapper .rd_image-list::-webkit-scrollbar {
  display: none;
}
.rd_slider-wrapper .rd_image-list .rd_image-item {
  width: 280px;
  height: 400px;
  object-fit: cover;
  
}
.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd{
	background: rgba(255,255,255,.1);
    -webkit-backdrop-filter: blur(134px);
    backdrop-filter: blur(134px);
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 25px;
}
.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd .date_rd{
	background: linear-gradient(135deg,#FA26CA 0%,#712AF9 100%);
    -webkit-backdrop-filter: blur(134px);
    backdrop-filter: blur(134px);
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 20px 30px;
    text-align: center;
}
.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd .date_rd span{
	font-weight: 600;
    color: #ffffff;
}
.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd .date_rd h2{
	margin-bottom: 0;
	margin-top: 10px;
    font-size: 28px;
}
.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd ul{
	padding-inline-start: 0px;
}
.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd ul li{
	font-family: "Changa";
    margin-bottom: 15px;
    position: relative;
    padding-left: 18px;
}
.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd ul li:before {
    left: 0;
    top: 7px;
    content: "";
    width: 8px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
}
.roadmap_container .rd_slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  
}
.rd_slider-scrollbar .rd_scrollbar-track {
  background: #2b2344;
  width: 100%;
  height: 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.rd_slider-scrollbar:hover .rd_scrollbar-track {
  height: 4px;
}
.rd_slider-scrollbar .rd_scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
  background: linear-gradient(90deg,#FDCE39 .23%,#FD8963 53.01%,#ED5174 100%);
}
.rd_slider-scrollbar .rd_scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.rd_slider-scrollbar .rd_scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.single_what_get{
	z-index: 1;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 45px;
    transition: 1s;
	height: 300px;
}
.single_what_get:before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    opacity: .8;
    position: absolute;
    border-radius: 45px;
    background: linear-gradient(203.65deg,rgba(19,7,43,0) 40.25%,rgba(19,7,43,.6) 86.29%);
}
.single_what_get img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.single_what_get .what_get_main{
	left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 30px;
    position: absolute;
    text-align: center;
    transition: 0.5s;
}
.single_what_get {
    font-size: 24px;
    
}
.single_what_get .what_get_hover{
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    border-radius: 45px;
    justify-content: center;
    transition: 0.5s;
    background: linear-gradient(135deg,rgba(250,38,202,.9) 0%,rgba(113,42,249,.9) 100%);
}
.single_what_get .what_get_hover div{
	padding: 0px 2%;
}
.single_what_get .what_get_hover h3{
	margin-bottom: 15px;
	font-size: 20px;
}
.single_what_get h3{
	font-size: 24px;
}
.single_what_get .what_get_hover p{
	color: #fdfdfd;
	font-size: 16px;
	line-height: 1.5em;
	display: none;
}
.single_what_get:hover .what_get_hover {
    top: 0;
}
.single_what_get:hover .what_get_main {
    bottom: -100%;
}
.single_what_get.color_st_2 .what_get_hover {
    background: linear-gradient(180deg,rgba(253,206,57,.9) 0%,rgba(253,137,99,.9) 30.21%,rgba(237,81,116,.9) 100%);
}
.anim_page_star{
	top: 100px;
    right: 200px;
    position: absolute;
    animation: rotation 10s infinite linear;
}

/*stake now section*/
.stake_area{
	box-sizing: border-box;
	position: relative;
	padding-top: 0!important;
}
.stake_area .app_container{
	float:left;
}
.stake_area .stake_take_shape {
	top: 0;
    left: 0;
    position: absolute;
	display: none!important;
}
.stake_row {
	display: flex;
	
}
.stake_bg {
	width: 50%;
    background: linear-gradient(135deg,#3A285C 0%,#1A093A 100%);
    border-radius: 30px;
    position: relative;
    margin: 10px
}
.stake_bg .content_row{
	align-items: center;
}

.col_8-12{
	flex: 0 0 auto;
    width: 66.66666667%;
}
.col_4-12{
	flex: 0 0 auto;
    width: 33.33333333%;
}
.stake_content{
	padding: 30px 50px;
}
.stake_title{
	margin-bottom: 20px;
	font-size: 13px;
}
.stake_img img{
	width: 100%;
}
.stake_content h2{
	font-size: 35px;
    margin-bottom: 25px;
	margin-top: 10px;
}
.stake_content p{
	font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.8;
}
.stake_content a{
	margin-top: 15px;
}
.stakePopup{
	display: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
}
.stake_bg .anim_page_star{
	right: 0;
    left: 200px;
    z-index: -1;
    margin: auto;
	z-index: 10;
    bottom: 100px;
    position: absolute;
    animation: rotation 30s infinite linear;
}

/* Footer Section*/
.footer_area{
	border-top: 1px solid rgba(255,255,255,.04);
    background-color: #140c2d73;
    z-index: 1;
    padding-top: 150px;
    padding-bottom: 120px;
	margin-top: 65em;
}
.footer_area .app_container .content_row{
	justify-content: center!important;
	align-items: center!important;
}
.col_2-12{
	flex: 0 0 auto;
    width: 16.66666667%;
}
.single_footer{
	margin-bottom: 30px;
}
.single_footer ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.single_footer ul li {
	display: inline-block;
    font-size: 17px;
    margin-right: 30px;
	font-weight: 500;
}
.single_footer ul li a {
    transition: 0.5s;
    color: #ffffff;
    text-decoration: none;
    outline: 0!important;
}
.single_footer ul li a:hover {
    transition: 0.5s;
    color: #712af9; 
}
.col_2-12 .logo{
	text-align: center;
}
.single_footer.logo img{
	width: 100%;
    transform: scale(3.5);
}
.single_footer .social_link {
    text-align: end;
}
.single_footer .social_link li {
    margin-right: 25px;
}
.single_footer .social_link li a {
	font-size: 15px;
	
    color: #a19bb1;
}
.single_footer .social_link li a:hover {
    color: #ffffff;
}
.copyright_area {
    background-color: #712af9;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.copyright_area p {
    color: #d9c9f8;
    position: relative;
    padding-left: 21px;
    display: inline-block;
    font-size: 18px;
    font-family:"Changa", sans-serif;
}
.copyright_area p a {
    font-weight: 500;
    color: #ffffff;
}


/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .rd_slider-wrapper .rd_slide-button {
    display: none !important;
  }
  .rd_slider-wrapper .rd_image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  /*.rd_slider-wrapper .rd_image-list .rd_image-item {
    width: 280px;
    height: 380px;
  }
  .rd_slider-scrollbar .rd_scrollbar-thumb {
    width: 20%;
  }*/
}

/*Responsive code*/
@media only screen and (max-width: 991px)
{
	body{
		font-size: 18px;
	}
	.top_title{
		font-size: 1rem;
		text-transform: uppercase;
	}
	
	.navbar_area {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.navbar_expand{
		justify-content: space-between;
		
	}
	.navbar_expand label{
		display: initial;
	}
	.navbar_expand .navbar_collapse{
		position: absolute;
		top: 0;
		right: 0;
		border-top: 1px solid rgba(255,255,255,0.1);
		justify-content: space-evenly;
		display: inline;
		margin: 8% 0;
		background: #140c2d;
		display: none;
	}
	.navbar_expand .navbar_collapse .nav_div_1{
		margin-bottom: -2em;
	}
	.navbar_expand .navbar_collapse .nav_div_3{
		margin-bottom: -3.5em;
	}
	.navbar_expand .navbar_collapse .nav_div_2, .navbar_expand .navbar_collapse .nav_div_4{
		display: none!important;
		
	}
	.navbar_expand .navbar_collapse div ul{
		flex-direction: column;
		
	}
	.navbar_nav_item{
		width: max-content;
		width: 20em;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	.navbar_nav_item a{
		width: 100%;
		text-align: left;
	}
	.navbar_expand .navbar_brand{
		display: initial;
	}
	.navbar_nav_item .navDropDown{
		position: relative;
	}
	.navbar_nav_item .dropdownLink{
		margin-left: 0;
		background: #2a2145;
	}
	#menuBar:checked ~ .navbar_collapse{
		display: initial;
	}
	
	
	/********About Us***********/
	.title_head{
		font-size: 35px;
	}
	
	.about_img_container, .about_content_container{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.about_content_container{
		    width: 100%;
			margin-top: 10%;
			text-align: center;
	}
	.about_para{
		font-size: 18px;
	}
	
	/*******Key-Features************/
	.feature_container .boxes .box_row{
		flex-direction: column;
	}
	.feature_container .boxes .box_row .box{
		width: 90%;
		border-radius: 10px 100px;
		margin-left: auto;
		margin-right: auto;
		min-height: 125px;
	}
	.feature_container .boxes .box_row .box .insideBox2{
		visibility: hidden;
		height: 0px;
		margin: 0;
	}
	.feature_container .boxes .box_row .box .insideBox1 h3{
		font-size: 1.2em;
	}
	.feature_container .boxes .box_row .box .read_more{
		float: right;
		margin-right: 5%;
	}
	.feature_container .boxes .box_row .box .btn_hide{
		visibility: visible;
	}
	
	/********Utility**********/
	.utility_area .utilityBoxContainer .utilityBox{
		align-items: center;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxIcon{
		top: initial;
		left: initial;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxIcon img{
		transform: scale(1.5);
	}
	.utility_area .utilityBoxContainer .utilityBox.un{
		margin: auto;
		width: 81.5%;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent .utilityBoxHead{
		font-size: 2rem;
		
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent .utilityBoxSubHead{
		font-size: 1.5rem;
		color: #e0e0e0;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent .utilityBoxPara{
		font-size: 1rem;
	}
	
	/***********how it works(metaverse ecosystem)*************/
	.col_7-12 .work_content{
		line-height: 1.3rem;
	}
	.how_it_work_tabs .tab_frame{
		height: 550px;
	}
	
	/**********Token**********/
	.token_area .app_container .content_row{
		grid-template-columns: repeat(1, 1fr);
	}
	.token_img{
		padding: 40px 10px;
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2rem;
	}
	.token_img img{
		transform: scale(100%);
	}
	.token_content{
		font-size: 14px;
	}
	
	/**********Stake Now*********/
	
	.stake_bg .content_row .stake_content p{
		display: none;
	}
	
	
}
@media only screen and (min-width: 992px) and (max-width: 1199px)
{
	
	.single-features.style-two img {
		max-width: 100%;
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 1182px)
{
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxIcon img {
		margin-left: 100%;
	}
}


@media screen and (min-width: 576px) and (max-width: 768.9) {
	
	
	
    
}

/*Mobile*/
@media only screen and (max-width: 600px){
	body{
		font-size: 10px;
	}
	.top_title{
		font-size: 10px;
		text-transform: uppercase;
	}
	.title_head{
		font-size: 18px;
	}
	/**********Banner***********/
	.app_container{
		margin: 0;
	}
	.banner_area{
		padding-top: 100px;
		padding-bottom: 150px;
	}
	.banner_content{
		max-width: 100%;
		margin: 0;
		font-size: 14px;
	}
	.banner_content .banner_heading{
		padding: 0;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	.banner_content .banner_heading span{
		font-size: 14px;
	}
	.banner_btn {
		margin-top: 15px;
	}
	.default_btn, .btn_active, .connect_btn{
		margin-left: 5px;
		margin-top: 10px;
		margin-right: 5px;
		font-size: 10px;
		padding: 10px 18px;
		overflow: hidden;
	}
	
	/***********Partner*************/
	.partner_wrap{
		padding: 30px 25px;
		margin-top: -30px;
	}
	.slider{
		height: 60px;
		margin-top: 50px;
		padding: 0px 0px 0px 50px;
		margin-left: -25px;
	}
	.slide-track{
		width: calc(100px*18);
		margin-left: -50px;
	}
	.slide{
		height: auto;
		width: auto;
		padding: 0 20px;
		margin: -30px;
	}
	
	/*********About-Us**********/
	.about_area, .feature_area, .utility_area, .how_it_work_area, .token_area, .roadmap_area, .what_get_area, .stake_area, .footer_area{
		padding: 40px 0px 0px!important;		
	}
	.feature_area{margin-top: 50px;}
	.about_row{
		margin: 0;
		flex-direction: column-reverse;

	}
	.about_img_container, .about_content_container {
		width: 100%;
	}
	.about_para {
		font-size: 10px;
	}
	.about_social .social{
		margin-right: 2px;
		float: left;
	}
	.soc_icon{
		width: 26px;
		height: 26px;
		line-height: 28px
	}
	.about_img img{
		margin-top: 85px;
	}
	
	/*********Features**********/
	.feature_area .boxes .box_row .box{
		margin: 0;
		border-radius: 10px;
		padding: 20px 15px;
		margin-bottom: 25px;
	}
	.feature_area .boxes .box_row .box .insideBox1{
		flex-direction: column;
		padding: 0 10px;
	}
	.feature_area .boxes .box_row .box .insideBox1 img{
		width: 45px;
	}
	.feature_area .boxes .box_row .box .insideBox1 h3{
		font-size: 0.8rem;
	}
	.feature_area .boxes .box_row .box .read_more{
		float: none;
	}
	.insideBox2_inv p{
		font-size: 12px;
		text-align: center;
	}
	
	
	/*********Utility***********/
	.utility_area .utilityBoxContainer{
		grid-template-columns: repeat(1,1fr);
		gap: 1rem;
	}
	.utility_area .utilityBoxContainer .utilityBox {
		margin: 0;
		padding: 15px;;
		flex-direction: column;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent{
		text-align: center;
		width: 100%;
		margin: 0;
		background: #47bdd430;
		padding: 15px 0;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent .utilityBoxHead{
		font-size: 12px;
		font-weight: 800;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent .utilityBoxSubHead{
		font-size: 16px;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxContent .utilityBoxPara{
		font-size: 12px;
	}
	
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxIcon{
		margin-bottom: -20px;
		margin-left: auto;
		margin-right: auto;
	}
	.utility_area .utilityBoxContainer .utilityBox .utilityBoxIcon img{
		width: 50px;
		transform: scale(1);
		margin-left: 0;
	}
	
	/************Metaverse Ecosystem**************/
	.how_it_work_tabs .nav_tabset{
		margin-bottom: 20px;
	}
	.how_it_work_tabs .nav_tabset .nav_tab span{
		padding: 10px 15px;
		font-size: 10px;
		border-radius: 1px;
	}
	.how_it_work_tabs .nav_tabset .nav_tab span:before, .how_it_work_tabs .nav_tabset .nav_tab span:after{
		border-radius: 5px;
	}
	.work_row{
		display: flex;
		flex-direction: column;
	}
	.work_row .col_5-12, .work_row .col_7-12{
		width: 100%;
	}
	.how_it_work_tabs .tab_img img{
		border-radius: 25px;
	}
	.how_it_work_tabs .tab_content{
		width: 100%;
	}
	.work_row .col_5-12 h3{
		font-size: 13px;
	}
	.work_row .col_7-12 p{
		font-size: 12px;
	}
	.how_it_work_tabs .tab_frame iframe{
		height: 300px;
		border-radius: 25px;
	}
	
	/********Token*********/
	
	.token_img img{
		width: 90%;
		margin: 0 5%;
		height: auto;
	}
	.token_area .app_container .content_row{
		width: 100%;
		place-items: center;
		margin-left: auto;
		margin-right: auto;
	}
	.single_token_list .token_list_content .li_lt{
		padding-right: 5px;
	}
	.single_token_list{
		max-height: 60px;
	}
	.token_content{
		font-size: 10px;
	}
	.single_token_list .token_list_content li h4{
		font-size: 12px;
	}
	.single_token_list .token_list_content li h4 sub{
		font-size: 10px;
	}
	/***********Road Map*************/
	.roadmap_area{
		padding: 20px 0 0;
	}
	.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd{
		padding: 15px;
		margin-bottom: 10px;
	}
	.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd ul li:before{
		top: 0;
		width: 5px;
		height: 5px
	}
	.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd .date_rd{
		padding: 8px 16px;
		border-radius: 20px;
	}
	.rd_slider-wrapper .rd_image-list .rd_image-item .single_rd .date_rd h2{
		font-size: 20px;
	}
	
	/**********What get area************/
	.what_get_area .app_container .content_row {
		flex-direction: column;
		align-items: center;
	}
	.what_get_area .app_container .content_row .col_6-12{
		width: 90%;
		margin: 2%;
	}
	.rd_slider-wrapper .rd_image-list .rd_image-item {
		height: auto;
	}
	
	/*********Stakes***********/
	.stake_row{
		flex-direction: column;
		align-items: center;
	}
	.stake_bg{
		width: 90%;
	}
	.stake_content h2{
		font-size: 18px;
	}
	
	/**************Footer*****************/
	.footer_area .app_container .content_row{
		display: flex;
		flex-direction: column;
	}
	.footer_area .app_container .content_row .col_5-12{
		width: 100%;
	}
	.single_footer ul{
		display: flex;
		justify-content: space-between;
	}
	.single_footer ul li a, .single_footer ul li span{
		font-size: 10px;
	}
	.single_footer ul li, .single_footer .social_link li{
		margin-left: auto;
		margin-right: auto;
	}
	
	/************Copyright*****************/
	.copyright_area{
		padding-top: 5px;
		padding-bottom: 5px
	}
	.copyright_area p{
		font-size: 9px;
	}
	
	
}

/*animation*/
@keyframes rotation {
  0%{
	  transform: rotate(0);
  }
  100%{
	  transform: rotate(359deg);
  }
}